@media (prefers-color-scheme: light) {
  ion-toolbar {
    --background: white;
    color: black;
  }
  .verticalScrollContainer {
    background: white;
  }
}

@media (prefers-color-scheme: dark) {
  ion-toolbar {
    --background: black;
    color: white;
  }
  .verticalScrollContainer {
    background: black;
  }
}

.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
